[2018-04-04 02:28] trowski commented on #258
@angstymeat Can you please try with the current master?

[2018-04-04 02:49] angstymeat commented on #258
That appears to be working perfectly!

[2018-04-16 13:55] torinaki commented on #61
@kelunik have you reviewed possibility to implement FastCGI as additional [HttpDriver](https://github.com/amphp/http-server/blob/32a3b0f97dc530179057fdcfad9b100efdca6c88/src/Driver/HttpDriver.php#L9)?
FastCGI implementation looks quite simple: https://github.com/PHPFastCGI/FastCGIDaemon/blob/master/src/Driver/Userland/ConnectionHandler/ConnectionHandler.php.
FastCGI lighter that HTTP and I assume

[2018-04-16 14:12] kelunik commented on #61
@torinaki Should be possible, yes. Please open a separate issue for that.

[2018-04-16 14:27] torinaki opened #259 "FastCGI driver implementation"
There is a [possibility](https://github.com/amphp/http-server/issues/61#issuecomment-381613466) to implement [FastCGI](https://en.wikipedia.org/wiki/FastCGI) as additional [HttpDriver](https://github.com/amphp/http-server/blob/32a3b0f97dc530179057fdcfad9b100efdca6c88/src/Driver/HttpDriver.php#L9).

According to protocol [specification](http://www.mit.edu/~yandros/doc/specs/fcgi-spec.html) and some

[2018-07-26 19:38] mikemix opened #263 "Provide example for a Symfony app"
Especially how to convert your `Amp\Http\Server\Request` to Symfony's Request.

[2018-07-26 20:17] kelunik commented on #263
A PR is welcome. ;-)

[2018-07-26 21:03] mikemix commented on #263
If it was so easy. Not sure how to get the `_FILES` and the body as a string:

[code]

[2018-07-27 22:38] torinaki commented on #263
@mikemix probably you might take a look on my repository where I'm experiencing to integrate Amp framework with Symfony (there is an example how to convert Amp request into Symfony request object):
https://github.com/torinaki/AmpBundle

The overall conclusion is the following. Currently, it is difficult to use Amp with Symfony. You have to override HttpKernel, because Controller should return gene

[2018-07-28 03:34] mikemix commented on #263
I switched to Swoole. Thanks anyway.

[2018-07-28 03:34] #263 closed

[2018-08-05 04:16] xcaptain commented on #263
I have a simple gist that can convert from amphp request to symfony request. with this convertion I can host lumen app using amphp server, juse replace the `public/index.php` file with [https://gist.github.com/xcaptain/d3184e2d5c75bea3c420c61872c37a69](https://gist.github.com/xcaptain/d3184e2d5c75bea3c420c61872c37a69)

[2018-08-05 04:24] xcaptain commented on #263
@kelunik It's will be useful to provide a way to convert amphp request to symfony request, but currently it's hard to get `$_SERVER` and `$_FILES` from the request, can you provide some examples.

[2018-08-05 08:34] kelunik commented on #263
Actually, it's impossible to fake `$_FILES` in a way that makes `move_uploaded_file` work, because PHP uses internal global variables for that that userland PHP doesn't have access to. So you'll need to change that in your framework of choice either way I guess.

[2018-08-05 08:39] kelunik commented on #263
@xcaptain Just added a comment to your example. We probably have to rename `->read()` to `->readChunk()`, because it's a pretty common error I see. /cc @trowski

[2018-08-05 08:52] bwoebi commented on #263
@xcaptain To get an array of `$_FILES`, you have to parse the content body e.g. via https://github.com/amphp/http-server-form-parser:

[code]

There is, however one problem: the `move_uploaded_files()` function does _not_ work if the file hasn't been added directly by a PHP SAPI. We cannot work around that from userland.

For `$_SERVER` you'll have to inspect `$request` as well as `$request->getCl

[2018-08-05 08:54] bwoebi commented on #263
@kelunik I agree on the rename, it's quite unexpected for newcomers - we consider everything with a read() being a stream and such returning chunks.

[2018-08-05 13:13] xcaptain commented on #263
@bwoebi Thanks for the help about `$_FILES`, your example is a little out dated, I updated my example in https://gist.github.com/xcaptain/d3184e2d5c75bea3c420c61872c37a69#file-amphp_lumen-php-L72-L89
I can get `$_FILES` and then convert to symfony `UploadFile` type but still upload fail, the error says

[code]

My upload controller code is
[code]
Is it the problem you said that `move_uploaded_file

[2018-08-05 13:45] xcaptain commented on #263
I put my demo code [here](https://github.com/xcaptain/lumen-amp), this topic is interesting, once done we can serve lumen app using amphp http server

[2018-08-05 14:00] bwoebi commented on #263
Yes, that's the problem, you'll have to extend the UploadedFile class and override that method, I guess.

[2018-08-06 14:43] proArtex opened #265 "Websocket server component doesn't work at all"
Example seems to be outdated

[2018-08-27 09:04] zek opened #266 "File uploading connection issue"
I'm sending a file upload request to hello-world example with postman.

First request is ok but when I send second request it just stuck at "Loading" screen.
Second request never reaches to our server and after for a while I get "Could not get any response".
Then in console I see that connection is closed.
[2018-08-27 08:58:50] server.DEBUG: Close 127.0.0.1:61568 #199 [] []

Is this normal? How ma

[2018-08-27 09:17] zek commented on #266
OK. This is because of file size is too big as it is explained here ( https://amphp.org/http-server/performance#body )

$request->getBody()->increaseSizeLimit(10 * 1024 ** 2);

Solves the problem.

[2018-08-27 09:17] #266 closed

[2018-09-06 20:40] kelunik commented on #259
With the new architecture, this does no longer need to be some driver. This should be implemented as a separate package and just create a `Request` and call a corresponding `RequestHandler`.

[2018-09-06 20:40] #259 closed

[2018-09-06 20:43] kelunik commented on #265
Which example do you mean? Anything related to the WebSocket server should be directed to the [appropriate repository](https://github.com/amphp/websocket-server).

[2018-09-06 20:43] #265 closed

[2018-09-21 17:31] ro70 opened #268 "Hello World example is broken."
Starting the example in
[code]
throws
[code]
Can you fix this please?

"amphp/http-server": "^0.8.2"

[2018-09-21 17:43] #268 closed

[2018-09-21 17:45] kelunik commented on #268
The examples aren't runnable if this package is installed as a Composer dependency, as they require additional dependencies that are listed in `"require-dev"`. Please clone the repository on its own and run `composer install` to run the examples.

I've excluded the `examples` directory in case the package is installed via Composer, because they won't work anyway.

[2018-09-21 19:59] ro70 commented on #268
@kelunik Thank you very much. After I cloned the repository and installed a few php packages ( `php7.0-xml, php7.0-mbstring, php7.0-curl, php7.0-intl)` the examples work.

[2018-09-21 20:10] kelunik commented on #268
@ro70 Did you really need all those?

[2018-09-24 14:55] kelunik commented on #268
@ro70 Only for that project or is that a message thrown by Composer itself?

[2018-12-11 09:03] prolic opened #270 "100% CPU Usage"
I realized I have 100% CPU usage using this library. I initially thought I did something very stupid somewhere, so just to be sure I tried this example:
https://github.com/amphp/http-server/blob/master/examples/hello-world.php

100% CPU usage as well!

[2018-12-11 09:14] bwoebi commented on #270
I think we need more input on your setup, for me executing examples/hello-world.php is not consuming any CPU time. HTTP requests also work properly.

[2018-12-11 09:35] prolic commented on #270
PHP 7.2.11 on Ubuntu 18.04 => 100% CPU Usage, but it works.

If I install lib-uv => 0% CPU Usage, so it has something to do with the native driver.

[2018-12-11 10:07] bwoebi commented on #270
Okay, that I can reproduce; was using ext/uv here - will investigate.

[2018-12-11 10:07] prolic commented on #270
:+1: thanks

[2019-01-03 21:54] kelunik opened #271 "Support HTTP/2 Priorization"
See https://blog.cloudflare.com/http-2-prioritization-with-nginx/ for a write-up on its usefulness.

[2019-05-01 08:58] eislambey opened #273 "how can i disable connection timeout?"
im trying to create a [sse](https://en.wikipedia.org/wiki/Server-sent_events) server. so i need keep connection alive. is there a way for disable timeout?

[2019-05-01 09:10] kelunik commented on #273
Instead of doing that, I'd send newlines periodically. That way you can also detect broken connections and close them.

[2019-05-01 09:14] kelunik commented on #273
Also, the timeout should only apply while the request is received from the client, not while the server is slow streaming the response, IIRC.

[2019-05-01 09:24] eislambey commented on #273
after 15 seconds the connection is closing by server. i want to disable that.
https://github.com/amphp/http-server/blob/fc32336768886539eaac3ffaffb432b99c4c6837/src/Options.php#L10

[2019-05-01 10:03] kelunik commented on #273
How does your request handler look like?

[2019-05-01 10:05] eislambey commented on #273
like this
[code]

[2019-05-03 09:40] bwoebi commented on #273
@kelunik The timeout always applies. It wasn't with Aerys, but now it does, we end up renewing the timeout each time we send a chunk of data:
https://github.com/amphp/http-server/blob/4c20c157eaa227169b5579cca7351fd1e922bd37/src/Driver/RemoteClient.php#L464

But sending something each second should work perfectly fine.

[2019-05-05 12:17] #273 closed

[2019-05-05 12:19] kelunik commented on #273
@eislambey Thanks for the report. I've pushed a fix and will release a new version later today. You can try with `master` in the meantime.

@bwoebi I think that's another mistake in the implementation. The timeout shouldn't apply if there's nothing to send because the server takes longer to generate a response. We have `Client::isWaitingForResponse()` for that exact purpose, but apparently we don'

[2019-05-06 16:10] trowski commented on #273
@kelunik I think `Client::isWaitingForResponse()` was suppose to be used in `Server::timeoutKeepAlives()`, but was overlooked.

[2019-05-06 17:11] kelunik commented on #273
@trowski Just pushed a commit that fixes that.

[2019-06-02 09:58] eislambey opened #276 "RemoteClient's onClose hook not working on master"
hi
i just updated from 3ca2373 (works on this) to 66a68e7 and onClose hook not working now.

i tried with `UvDriver`, `EventDriver` and `NativeDriver` on php 7.1 and php 7.3

my code looks like this
[code]

[2019-06-02 10:10] eislambey commented on #276
i made test with old commits and  after 006cfc6 [onClose](https://github.com/amphp/http-server/blob/66a68e73a70419db37f2ca70c21d09840fcf1836/src/Driver/RemoteClient.php#L319) not working

[2019-06-08 15:41] trowski commented on #276
I'm not able to reproduce the behavior you're describing with any of our examples. Can you give me a little more detail about your setup? Are the clients being closed, but the callbacks not invoked? Or is the client not closed at all after the configured timeout?

[2019-06-09 09:54] eislambey commented on #276
Yes. That's the problem.

Im closing the browser before the response done.
I expect that will print to console "A client disconnected." but nothing happen.

There is a example.
composer.json
[code]

server.php
[code]

[2019-06-09 22:44] #276 closed

[2019-07-03 21:47] Ekstazi opened #278 "Why direct sockets used instead of SocketServer ?"
https://github.com/amphp/http-server/blob/a7aeae87da84333bd4d86e4bc67356fcc261c189/src/Server.php#L104

https://github.com/amphp/http-server/blob/a7aeae87da84333bd4d86e4bc67356fcc261c189/src/Server.php#L309

https://github.com/amphp/http-server/blob/a7aeae87da84333bd4d86e4bc67356fcc261c189/src/Server.php#L318

https://github.com/amphp/http-server/blob/a7aeae87da84333bd4d86e4bc67356fcc261c189/src/S

[2019-07-06 09:44] bwoebi commented on #278
This was afaik done for performance reasons, in particular all incoming client connections are (nearly) permanently alive and we just disable watching when our internal buffer limit gets reached.

It's in the end a lot of objects and enabling back and forth (if you consider ResourceInputStream->read() for example).
And this is in the hot path of the server...

[2019-07-10 02:53] o2yp1q21 opened #279 "咨询英国留学生文凭学历Diploma#https://www.diplomaclub.net/博尔顿大学本科学位证文凭Transcript/英国博尔顿大学硕士毕业证学历Education,购买英国真实本科学位证文凭办理存档可查留信网认证和大使馆认证UniversityofBol|  "
咨询英国留学生文凭学历Diploma#https://www.diplomaclub.net/博尔顿大学本科学位证文凭Transcript/英国博尔顿大学硕士毕业证学历Education,购买英国真实本科学位证文凭办理存档可查留信网认证和大使馆认证UniversityofBol|  
本公司专业制作文凭、办理毕业证明、 仿制毕业证书、本科学历、硕士学位、教育部学历学位认证、结业证、成绩单、文凭、学历文凭、fakedip loma、办本科学历、办硕士学历、假文凭假毕业证假学历假证书制作、假制作、办理、仿制学位证书、毕业证 文凭、毕业文凭、文凭毕业证、毕业证认证、留服认证、使馆认证、使馆证明、使馆留学回国人员证明、留学生认 证、学历认证、文凭认证【实体公司，值得信赖】
留学生归国服务中心面向美国英国澳洲加拿大留学生提供以下服务:
一、办理毕业证成绩单（学校原版1：1高仿真制作）
二、使馆认证（

[2019-07-18 06:19] 47euewxm opened #280 "Concatenate error when trying to train a two input one output network"
Hi,
I'm trying to train a 2 input one output model using the Keras API. The model seems to be right and all but at the end when I try to train it shows an error when it tries to concatenate the two outputs of the branches. It says that a two-dimensional array is expected and it gets a (x,y,z) input.
Being 'x' my batch size and 'y' and 'z' the size of the image. I have already tried using a batch s

[2019-07-23 17:46] kelunik commented on #280
Not sur ehow

[2019-07-23 17:46] #280 closed

[2019-08-03 20:18] ostrolucky opened #282 "allow amphp/socket ^1"

[2019-08-04 07:18] kelunik commented on #282
Unfortunately, we have to make a few minor BC breaks for that. We're already working on it, [see the `v2.x` branch](https://github.com/amphp/http-server/blob/9176ea6d9506c660cb6cbc710d577a8b456e788d/composer.json#L36).

[2019-08-04 07:18] #282 closed

[2019-09-05 01:10] Ttone123 opened #283 "Yeah I didn't think it'd be particularly useful, but I'd really like a sleep function that behaves like PHP sleep (accepting seconds, even if in floating point)"
Yeah I didn't think it'd be particularly useful, but I'd really like a sleep function that behaves like PHP sleep (accepting seconds, even if in floating point)

_Originally posted by @danog in https://github.com/amphp/amp/pull/278#issuecomment-511482905_

[2019-10-05 12:03] jpatterson733 opened #288 "JP"

[2019-12-01 19:41] OnkelTem opened #291 "Versions inconsistency? Composer problem"
I don't get which version to use and which version docs describe.

If I try the Hello World example from the README with the latest version - it works.
But then I cannot install `http-server-router`:

[code]

And if I switch to the version `1.1.2`, I cannot find a proper documentation bescause the current one is not consistent with the classes. There is no `HttpServer` class for example and etc.

[2019-12-02 08:46] krlv commented on #291
Hey @OnkelTem!

1. Using examples from `amphp/http-server` (`master` branch or [v2.0.0 RC3](https://github.com/amphp/http-server/releases/tag/v2.0.0-rc3)) with latest versions of `http-server-router` ([v1.0.2](https://github.com/amphp/http-server-router/releases/tag/v1.0.2)) should be just fine.

I have no composer issues with `composer.json` like this:
[code]

2. `amphp/http-server` `v2` is still

[2019-12-02 11:26] kelunik commented on #291
@krlv Unfortunately, the documentation on our website always points to the default branch currently, so `master` with the changes for RC.

[2019-12-02 13:33] OnkelTem commented on #291
Ok, I got it.
The problem was that I had `"minimum-stability": "dev"` in my `composer.json`.
So when I installed `amphp/http-server` I got:
[code]

And afterwards router doesn't install:
[code]
or:
[code]

[2019-12-26 21:30] dbalabka opened #293 "withConnectionTimeout isn't available"
Seems following option isn't available any more:
https://github.com/amphp/http-server/blob/master/docs/classes/options.md#withconnectiontimeoutint-seconds-options

Related commits:
1. https://github.com/amphp/http-server/commit/84b8b5e58cad339c4c70f95a8107fa5a5dac0e05#diff-eaf8868b994390699bd8b3db948d8aaf
2. https://github.com/amphp/http-server/commit/1e8679f8ee8201109a6f1e0e6324bf0b7e9cb4f9#diff-

[2020-01-04 16:29] trowski commented on #293
Looks like we have some more documentation updates to make before a final 2.0 tag.

[2020-01-09 10:42] juzi5201314 opened #295 "Uncaught Amp\MultiReasonException: onStart observer initialization failure."
This my code:
[code]
run `php main.php`:

[code]

[2020-01-09 11:23] enumag opened #296 "Documentation version"
I want to try out this package. For compatibility with the rest of my stack I need to use the 2.0-RC version. I'm wondering if the documentation at https://amphp.org/http-server/ is for 1.1 or 2.0. And if it is for stable 1.1 then is there an updated version of the documentation somewhere?

Thanks!

[2020-01-09 17:10] kelunik commented on #296
It's always what's contained in the `master` branch in the `./docs` directory. It's mainly for 1.1, as we haven't updated much for 2.x, yet, I think.

[2020-01-09 17:11] kelunik commented on #295
Please also dump the actual reasons, so catch the exception and dump `$e->getReasons()`.

[2020-01-09 17:35] enumag commented on #296
I see. Ok, I'll be careful about possible differences when using 2.0. Thanks.

[2020-01-09 17:35] #296 closed

[2020-01-09 20:30] trowski commented on #296
@enumag Skim through the [2.0 RC release notes](https://github.com/amphp/http-server/releases) for a quick summary of changes. There's a good amount of changes, but few (if any) touch the request/response stack, so most of the docs still apply and most user code for 1.x should work fine with 2.0.

[2020-01-09 23:26] juzi5201314 commented on #295
ok. I found the cause of the problem:
`Router start failure: no routes registered`
But there is no warning in the router repository, there must be a route, otherwise it will report an error......

[2020-01-09 23:32] juzi5201314 commented on #295
And I want to ask casually if there are asynchronous non-blocking file operations.  I found [amphp/file](https://github.com/amphp/file)  but it doesn't have any documentation and examples.
What is the correct usage of the library? Or should I go to this repository to initiate a new issue?

[2020-01-10 07:14] kelunik commented on #295
amphp/file is what you should use, yes. The main API are the functions in https://github.com/amphp/file/blob/master/src/functions.php, and if you open a file handle, look at the file interface for possible operations.

PR for examples welcome.

[2020-01-10 07:34] juzi5201314 commented on #295
Haha ok i know.

[2020-01-10 07:34] #295 closed

[2020-01-30 08:10] enumag opened #299 "Colored output from the HttpServer?"
I'm trying to use the HttpServer using your examples and documentation. Currently I'm creating it like this:

[code]

What I get when I run the server is this:

[code]

As you can see the HttpServer is trying to give me a colored output, however somehow I see the `<fg=white>` tags instead of actual colors. Any idea how to fix this? (Note that otherwise colors are working for me just fine when usin

[2020-01-30 08:16] enumag commented on #299
Ah, never mind. I was using `Symfony\Bridge\Monolog\Formatter\ConsoleFormatter` instead of `Amp\Log\ConsoleFormatter`.

[2020-01-30 08:16] #299 closed

[2020-02-10 08:18] enumag opened #301 "How to handle security?"
Is there some library to handle authentication and authorization in async environment? If not, can you give me some tips how you do it?

I've been using symfony/security previously, but it is request-response oriented (the current authentication token is saved in a global stateful service) so I can't use it with Amphp.

Thanks for any advice.

Note: I do know about https://github.com/amphp/http-se

[2020-02-10 17:40] kelunik commented on #301
Authentication / authorization should probably not be tied to HTTP as transport. You'll probably have a `User` object of some kind. If you want to have role based access controls, you'd for example have a `getRoles(): string[]` method on the user object to check the roles corresponding to the user or something like `hasRole(string): boolean`.

Then you could use something like the following in you

[2020-02-11 08:47] enumag commented on #301
I did some research how security works in Symfony. Authentication in Symfony is very sophisticated but ultimately I don't need anything from that so I'll implement some simple token verification in my request handlers. For Authorization I just need to change Voters to be able to return promises and then pretty much copy-paste the [affirmative strategy](https://github.com/symfony/symfony/blob/maste

[2020-02-11 08:47] #301 closed

[2020-02-13 12:07] enumag opened #302 "How to write end-to-end tests?"
While refactoring my project to use `amphp/http-server` I need to refactor my end-to-end tests. Previously I implemented those tests simply by calling Symfony's `Kernel::handle($request)` and then asserting the Response.

With Amphp I thought I'd avoid the HttpServer itself and just call `Amp\Http\Server\Router::handleRequest()` instead. In theory this should work just fine.

The problem I didn't

[2020-02-13 21:52] kelunik commented on #302
You can just create a mock. If you need any of the methods of the client, you'll have to mock these methods.

https://github.com/amphp/http-server-router/blob/c6a1731f3833f3a4b4e4cd633889eb14b5ef635b/test/RouterTest.php#L83

The client object gives further information about the client, like its IP address.

[2020-02-13 22:00] enumag commented on #302
I don't need it for anything in the tests... the question is if amphp will try to access some of it's methods.

I wanted to try with a mock but I didn't get to it today - had to rebase my branch, ran into conflicts, found a bug, had to fix it, then backport, then merge and so on... I'll try next week with a mock and reopen if I run into some issues. Thanks!

[2020-02-14 15:07] enumag commented on #302
Hmm ran into something else... simply calling the Router doesn't work as expected. It fails on this:

[code]

The `Router::$routeDispatcher` property is not initialized. The only assignment I found is in `Router::onStart()` but this method wants a `Server` instance. Any idea how to bypass that for tests?

[2020-02-15 18:15] enumag commented on #302
Hmm maybe I can try with a mock like [this](https://github.com/amphp/http-server-router/blob/c6a1731f3833f3a4b4e4cd633889eb14b5ef635b/test/RouterTest.php#L24-L37)... I'll test it on Monday.

[2020-02-15 18:58] enumag commented on #302
Oh great... Segmentation Fault. 😢

[2020-02-17 10:24] enumag commented on #302
Segfault seems to have been caused by ext-event so I got rid of it. My tests work now.

Another issue (admittedly unrelated to this package) is that previously I was used to wrap the entire test in a database transaction and use rollback after the test to achieve better test independence. This worked without a problem thanks to Doctrine DBAL being able to emulate nested transactions using postgres

[2020-02-18 08:38] enumag opened #303 "CorsMiddleware"
I need to handle CORS headers in my application so I kinda need a CorsMiddleware to add the necessary headers.

I found an implementation [here](https://github.com/labrador-kennel/http-cors/blob/master/src/CorsMiddleware.php) but the package doesn't allow `amphp/http-server` 2.0 and the organization seems inactive since November 2019. I'm not really interested in forking and maintaining it so I ha

[2020-02-19 13:29] kelunik commented on #303
Seems like there's already a good library you linked. How about opening a PR there to add 2.0 compatibility?

[2020-02-19 13:34] enumag commented on #303
I already offered to do that [here](https://github.com/labrador-kennel/http-cors/pull/1#issuecomment-585661662) but the author isn't replying and overall the entire organization nor the author have any recent activity on GitHub.

[2020-02-27 13:53] enumag commented on #303
bump

[2020-02-27 16:57] kelunik commented on #303
I've tried to ping the author on Stackoverflow chat, but didn't get any response.

[2020-02-27 18:41] enumag commented on #303
Yeah... so which way do you want me to go? Do you want such middleware in this package or not?

[2020-02-27 19:44] kelunik commented on #303
I'd say it should be its own package, just like the router, session and static-content plug-ins are their own packages. I don't have a strong opinion whether it should be under the @amphp namespace or not.

[2020-03-04 05:27] enumag commented on #303
The author just replied saying that he should be more available now. I'll send a PR to the linked repo.

[2020-03-04 05:27] #303 closed

[2020-03-04 18:33] kelunik commented on #303
@enumag Please send a PR to include a link into the README and/or documentation here.

[2020-03-04 18:34] enumag commented on #303
I will once there is a release compatible with latest amphp. ;-)

[2020-03-04 18:46] kelunik commented on #303
@enumag Thanks, meant to say exactly that!

[2020-03-27 20:54] kelunik opened #304 "RST_STREAM if request body isn't fully awaited before sending response"
If a large request body isn't fully awaited before sending a response, `amphp/http-server` sends `RST_STREAM` frames for each request data frame.

[2020-03-29 12:58] kelunik commented on #304
Uploading hangs now, I guess because the stream window isn't increased. The client connection is eventually closed, probably because no data from the client for a period of time. But I'm not sure which behavior we should really have here, because sending a large request body if the server doesn't expect one seems weird. Also the server sending a response while the upload is still in progress is qu

[2020-03-29 13:41] trowski commented on #304
If the stream window isn't increased to at least the maximum body size, then that's definitely a bug.

Sending the response before the request is received certainly seems dubious, but I guess it should be supported. Apparently browsers tolerate it on XHR file uploads.

[2020-04-27 03:59] prolic opened #307 "Save array to cookie"
How can a save a php array to a cookie? Using "serialize" or "json_encode" I receive a `InvalidCookieException`.

Is there a simple way to do this?

[code]

Currently I don't know what the cookie name is, because it's part of my lib. So I cannot do it manually (at least not very easy).

[2020-04-27 05:54] kelunik commented on #307
I'd use json_encode + base64. I'm not sure whether the code you posted sets one or three cookies, my guess would be three.

[2020-04-27 08:03] prolic commented on #307
Of course, why haven't I thought of it myself.

[2020-04-27 08:03] #307 closed

[2020-05-02 02:12] ykdui commented on #293
Hello, cybercrooks!

Would you like to buy dumps and credit cards with cvv2 from the legendary Brian Krebs? In my shop you will find fresh firsthand dumps & cards at a great price!

What you can buy:
Dumps with Track 1 & Track 2 and billing zip code
Сredit Cards with CVV2
Social Security Numbers and Date of Birth lookups
Why buy from Brian Krebs?
Auction that allows you to reserve, bid and outbid

[2020-05-02 02:13] ykdui opened #308 "Buy Valid Cvv CC Dumps Track"
Buy Valid Cvv CC Dumps Track 1/2 CC SSN DOB Track-1/2-FULLZ-Transfer/Western union Bank-Log-In-PayPal-Transfer-and-Log-In Buy/sell CVV CC DOB SSN FULLZ - Dumps Pin...
Telegram.@Ykidven

Cc Format Is
Format is:

Card Number | Exp. Date | CVV/CVV2 | First Name | Last Name | Street | City
| State | Zip Code | Country | Phone | Type Of Card | Bank Name

I'm Loading All Types Of Paypal Account With No

[2020-05-02 04:01] trowski commented on #293
Updated the docs some time ago, forgot about closing this.

[2020-05-02 04:01] #293 closed

[2020-05-03 09:34] #302 closed

[2020-05-03 11:38] kelunik commented on #302
@enumag Having tests use a transaction that isn't committed at the end is definitely useful and should be supported. I currently don't have projects doing that, but I guess it makes sense to open an issue to make sure we either have an example or work to support it if the current API makes it difficult.

[2020-05-03 13:45] enumag commented on #302
@kelunik It's pretty much impossible with current API. Also there is the fact that there are no nested transactions so as soon as you would use a transaction inside your app it would break.

In the end I solved it by dropping the database after each test that modified it and then recreating it using `CREATE DATABASE ... WITH TEMPLATE ...` which is effectively database cloning - so I just restore t

[2020-05-03 15:16] trowski commented on #302
@enumag What do you mean it's impossible? When the `Transaction` object is destroyed, the transaction is rolled back. You can use "nested" transactions using `createSavepoint()`, `releaseSavepoint()`, and `rollbackTo()`. Please open an issue in `amphp/postgres` if you want to discuss or offer suggestions.

[2020-05-03 15:32] enumag commented on #302
@trowski I mean that it would be very difficult to use. Normally you want the application to use transactions directly but in tests you want it to use savepoints instead because there is already an active transaction from the testcase... Anyway I don't really care. The solution I found works fine for me.

[2020-05-04 00:49] trowski commented on #302
@enumag I see what you mean. I guess for a v2 we could consider adding `beginTransaction` to `Transaction` that uses savepoints.

The solution you're using sounds similar to how I do my testing, and something I'll probably add to the docs when I finally getting around to writing more for the DB libs.

[2020-05-04 15:48] trowski commented on #304
I believe this is now fixed with ec5438aed54a4f61750a44ee603ee93813fa989e. The server below worked regardless of file size uploaded. @kelunik Could you please verify?

[code]

[2020-05-07 09:27] enumag opened #309 "Sending additional data to logger"
When sending errors to an error tracking software such as Sentry, it is nice to be able to attach some additional data when `\Psr\Log\LoggerInterface` is called.

In particular:
- Some information about the request itself.
- Information about the authenticated user.

Since these data are specific to each request it needs to be somehow handled by the HttpServer and the data need to be added to the

[2020-05-07 10:49] kelunik commented on #309
`ExceptionMiddleware` allows dumping stacktraces into the response in debug mode, which we don't do by default. You'll have to find the appropriate position in the stack yourself, like with any other middleware.

I guess we could introduce something like `log_context_request_attributes` to automatically include these attributes if a `Request` is available. We could also put `Request` itself into t

[2020-05-07 10:54] enumag commented on #309
This sounds great to me. I'll try to send a PR.

[2020-05-11 11:17] enumag opened #311 "Question: Request POST data?"
Looking at the [Request](https://amphp.org/http-server/classes/request) and [RequestBody](https://amphp.org/http-server/classes/request-body) API I'm not sure how to get POST parameters and uploaded files from the request. Can you give me some example please?

[2020-05-11 15:48] kelunik commented on #311
https://github.com/amphp/http-server-form-parser can be used for that.

[2020-05-11 20:04] enumag commented on #311
I see. I can't find it mentioned in the readme or documentation of `amphp/http-server` at all. I'll try to send a PR to add it there.

[2020-05-19 19:37] #311 closed

[2020-05-23 18:56] #291 closed

[2020-05-23 18:58] kelunik commented on #278
It seems like all questions have been answered. If not, please respond with further questions, the issue can always be re-opened. :+1:

[2020-05-23 18:58] #278 closed

[2020-05-23 20:37] #309 closed

[2020-06-04 19:39] parth298 commented on #304
Wow! Thanks for sharing, Uploading hangs now, I guess because the stream window isn't increased. The client connection is eventually closed, <a href="https://letsgetstartaffiliate.com/27-online-work-from-home-jobs/" rel="dofollow">work from home jobs</a> is the best option in lockdown.

[2020-06-17 18:35] kelunik commented on #304
Currently it logs:

[code]

[2020-06-17 18:40] trowski commented on #304
Are you using the current master? Looks like I fixed that in https://github.com/amphp/http-server/commit/ec5438aed54a4f61750a44ee603ee93813fa989e.

[2020-06-17 19:35] #304 closed

[2020-12-08 03:00] fengahan opened #318 "full stack framework？？？"
There is no intention of using it to open up a full stack framework or there is currently no implementation of this

[2020-12-08 06:48] kelunik commented on #318
There's currently no implementation I'm aware of. Which features would you like to see?

[2020-12-08 06:57] fengahan commented on #318
I would like to see a full stack framework like Laravel or YII implemented

[2020-12-08 07:47] kelunik commented on #318
Again, please provide a list of features you're missing specifically.

[2020-12-08 13:37] #318 closed

[2020-12-08 16:00] kelunik commented on #318
@fengahan Such behavior isn't useful at all, because there's nothing to base improvements on. Many components like sessions / routing etc. already exist, so a list of missing features would really be helpful.

[2020-12-08 16:54] enumag commented on #318
@kelunik Let me try to help instead. I think what's missing isn't necessarily a framework as much as some guidelines / best practices / examples how to actually write a real-world application based on Amphp (and why bother at all).

There is http-server with sessions and such but how to implement a form? Sending, validation, rendering... Can I use any existing library or not?

Then any good app ne

[2020-12-10 10:28] fengahan commented on #318
@kelunik Is the performance much lower than eventHttp

[2021-04-16 08:15] bzikarsky opened #319 "Aliasing `HttpServer` with `Server` fails with an optimized autoloader"
*Note: This discussion started in/relates to https://github.com/amphp/http-server-static-content/pull/13*

When using `http-server-static-content`, `amphp/http-server-form-parser` and `amphp/http-server-router` in production we noticed errors after an upgrade of `amphp/http-server` to a recent version:

[code]

This issue was a mystery first, I wrote a minimum example that seemed to work fine (tes

[2021-04-16 08:39] kelunik commented on #319
Yes, having it in `src/Server.php` is obviously wrong. I think we can just move it to `src/functions.php`, which is always loaded anyway. But I'd be fine with loading `src/Server.php` as well. Do you want to submit a PR?

[2021-04-16 08:50] bzikarsky commented on #319
PR is open, a timely tag would be very appreciated, so I can remove the hotfix in our codebase. :-)

[2021-04-16 08:52] #319 closed

[2021-04-16 18:31] kelunik commented on #319
I failed to pull before tagging, but `v2.1.2` includes your fix, thanks!

[2021-07-13 12:26] chengyu-luna opened #321 "The use Amp\Socket\Server namespace in the document example does not exist"
`<?php

use Amp\Http\Server\RequestHandler\CallableRequestHandler;
use Amp\Http\Server\HttpServer;
use Amp\Http\Server\Request;
use Amp\Http\Server\Response;
use Amp\Http\Status;
use Amp\Socket\Server;
use Psr\Log\NullLogger;

// Run this script, then visit http://localhost:1337/ in your browser.

Amp\Loop::run(function () {
    $sockets = [
        Server::listen("0.0.0.0:1337"),
        Server::

[2021-07-13 17:46] kelunik commented on #321
That class is part of [`amphp/socket`](https://github.com/amphp/socket/blob/a8af9f5d0a66c5fe9567da45a51509e592788fe6/src/Server.php).

[2021-11-08 18:47] bwoebi opened #323 "v3 branch: Cannot switch fibers in destructor when writing to closed websocket"
[code]

[2021-11-14 17:49] Nek- opened #324 "Compression is incompatible with streaming responses"
I tried to make a super-simple SSE server (code below). It was just not working until I disabled the compression. Since I assume streamed responses should work with compression enabled, I open an issue about it.

[code]

Using this works:

[code]

[2022-02-10 22:44] #321 closed

[2022-02-23 00:12] kelunik opened #328 "Remove rate limit logic from HttpServer"
`HttpServer` is a final class and shouldn't contain policy logic.

[2022-02-23 00:13] kelunik opened #329 "Ensure good names for MovedResourceHandler / RedirectHandler"
They're quite confusing currently.

[2022-02-23 22:58] #328 closed

[2022-04-29 00:22] trowski commented on #324
Sorry for the delay in responding – though it was clear you figured this out quickly, probably why none of us felt the need.

`CompressionMiddleware` buffers a certain number of bytes before compressing them to be more efficient. I wonder if using compression with SSE is wise. You may actually use more data for small payloads. If you are sending larger payloads on average, then reducing the number

[2022-04-29 00:23] trowski commented on #329
We decided to remove this completely for v3. The implementations were trivial and use-cases a bit narrow.

[2022-04-29 00:23] #329 closed

[2022-05-09 13:10] glickel opened #333 "HTTP2 upgrade seems not working with version beta"
Hello, I think I faced an issue while playing with the version beta.
I tried to upgrade a little http-server from version 2 to version beta. After that, using curl with HTTP2 option does not return the response body and take a lot of time.

Here are the code and curl calls examples, from version 2 that works to version beta that does not work. If it's not a real issue, then can you say me what I d

[2022-05-29 19:21] trowski commented on #333
Thanks for reporting this @glickel! I pushed a fix to the v3 branch, can you pull it and let me know if that fixes the issue for you as well?

[2022-05-30 04:51] #324 closed

[2022-05-31 11:49] glickel commented on #333
Yes it works well on my part now, thank you!

[2022-05-31 21:28] Nek- commented on #333
@glickel you may now close this issue. @trowski a new release of the beta would be nice 😊 .

[2022-06-01 18:52] #333 closed

[2022-06-10 17:37] bileslaw opened #335 "Backpressure not applied to HTTP/1.x client responses"
Hello. I need your help in finding a memory leak that appears to be somewhere in `amphp/http-server:v3.0.0-beta.2` (not 100% that it's there). I'm assuming this because my application works correctly on the previous Amp version (which is without the wonderful fibers) and this is the second time I've run into this problem.

I should mention that I made one change in the vendor folder:
`private cons

[2022-06-11 00:01] bileslaw commented on #335
I found something.

[code]

This line: `$request->setBodySizeLimit(PHP_INT_MAX);`

It helps when I comment it. I looked in the library code where this limit is used, and it remains a mystery to me how this causes the leak.

However, the memory seems to continue to leak, but now slowly. I continue to investigate.

[2022-06-11 09:28] kelunik commented on #335
So you're proxying requests using http-client? Do you know whether the leak is inside http-client or the server?

[2022-06-11 13:00] bileslaw commented on #335
@kelunik,

Yes.

As I mentioned in the update above, the issue is with the Request::setBodySizeLimit(). But I could not understand what and in which of the packages happens next. There's no more information at the moment.

Are you able to reproduce the leak with my example? It assumes the default memory limit (128M). You need to start the server and open a page in the browser. Almost immediately,

[2022-06-16 23:56] trowski commented on #335
@bileslaw I pushed a commit, https://github.com/amphp/http-server/commit/d61d8e64ad09fea3bc2856645ac197bf835faf8f, that adds an option to disable HTTP/2 in `DefaultHttpDriverFactory`.

I can reproduce the issue locally, though didn't yet investigate what's happening. If you manage to find something let me know, otherwise I'll have a look this weekend.

[2022-06-17 06:09] bileslaw commented on #335
@trowski, thank you for adding the option!

Regarding the issue, I switched back to v2. So far, I cannot call my software complete and debugged. I decided to focus on that, and when I'm done it will make sense to port it to v3, as we'll have a reference in that case.

[2022-06-19 11:30] bileslaw opened #336 "Call to a member function on null"
I unfortunately lost the logged exception in my buggy clipboard, but here's the gist: `$reason` on [this line](https://github.com/amphp/http-server/blob/3f24c16e00dfba7f2a553128ff1ae7e92fd85952/src/Driver/Http2Driver.php#L394) may be null under some circumstances. This will crash the server, as happened to me.

[2022-06-21 10:23] attisan opened #337 "Brotli compression in addition to gzip"
Brotli provides significantly smaller payload sizes and thus would / could further improve response speed. Could be integrated optionally in case https://github.com/kjdev/php-ext-brotli is detected?

[2022-06-21 11:09] kelunik commented on #337
Sounds like a good addition, so you want to provide a small PR?

[2022-06-21 11:12] attisan commented on #337
I'm on it. Should I Add it to CompressionMiddleware or stack a new BrotliCompressionMiddleware in in case Brotli is available? Doing the latter would keep the CompressionMiddleware a bit more readable as we need to use brotli_compress_init instead of deflate_init (and friends).

[2022-06-21 14:39] trowski commented on #337
I think it makes sense to roll support into `CompressionMiddleware`. You'll probably want to split out deflate and brotli into separate handler methods and defer to them to keep it clean and readable.

[2022-06-22 16:14] attisan commented on #337
should there be a setting indicating if Brotli should be used? I'm undecided on whether Brotli should outweigh gzip if it is available on the server as it does slow down the response.

[2022-08-10 21:53] trowski commented on #336
Fixed via https://github.com/amphp/http-server/commit/fef588a3e3eff4c524d62f7b7b0673f5a1c71579. Thanks for reporting!

[2022-08-10 21:53] #336 closed

[2022-08-13 23:55] cspray opened #338 "RFC: Add start() and stop() methods to HttpServer interface (v3+)"
I'm digging into the 3.0 beta and from a testing perspective I appreciate the HttpServer interface. It allows to more easily write unit tests in addition to integration tests. However, this interface does not include methods to start and stop the server, limiting its usefulness from a testing perspective.

Are the maintainers open to including the existing start() and stop() methods on the `Socket

[2022-08-15 15:50] bileslaw commented on #335
I completely switched to v3 but had to replace amphp/http-client with my own implementation over curl_multi (works great in conjunction with amp), and amphp/http-server with own implementation over amphp/socket + nginx. Haven't seen any memory leaks since.

[2022-08-15 20:53] kelunik commented on #335
@bileslaw curl_multi won't work great in conjunction with Amp, because it has it's own event loop and there can't be two event loops running efficiently at the same time. It's not a memory leak, but rather a backpressure issue. The proxy downloads the video faster than the browser requests it, so memory usage grows. This has been fixed in https://github.com/amphp/http-client/commit/e89e33ee7e8d4a9

[2022-08-15 20:57] kelunik commented on #338
There's been a reason why we haven't added them to the interface. I guess because these methods should only be called by code that "owns" the HTTP server instance, not by code that gets some `HttpServer` instance injected.

@trowski What's your opinion on this?

[2022-08-15 21:10] cspray commented on #338
@kelunik FWIW the code that has the HttpServer injected is also the code that "owns" the instance. I'm wrapping some other events, route autowiring, and middleware setup before the server itself actually starts. In effect, I want you to be able to bootstrap a Container, get my `Application` class that wraps all that stuff, and then call `$app->start()`.

[2022-08-16 04:05] bileslaw commented on #335
@kelunik,

Yes, I picked the wrong word. Since the solution has to use polling (I stopped at 250 curl_multi_exec() calls per second), that is, due to the reason you mentioned, the solution cannot be called great. However, I've tested the client extensively, and it's been running flawlessly in production for a while now. I could share it with you if you're interested.

I believe the commit you push

[2022-08-16 12:54] MBauerDC commented on #324
In the merged change, bufferTimeout is a constructor parameter for CompressionMiddleware, but the property is not set in the constructor. This leads to bufferTimout always being null.

I have prepared the (single-line change) in a PR here: https://github.com/amphp/http-server/pull/339

[2022-08-17 08:14] bileslaw commented on #335
Okay, I've been trying it for a few hours now. Everything works well! Of course, more time is needed, but I think it's okay if I close the issue now so that it doesn't distract anyone.

[2022-08-17 16:22] kelunik commented on #335
No, I've reopened on purpose, there's still something strange that shouldn't behave like it currently behaves.

[2022-08-17 16:47] bileslaw commented on #335
Oh, okay. Are you talking about the server (I guess this, but it's worth clarifying) or the client? And could you please briefly describe the problem?

[2022-08-18 05:11] bileslaw commented on #335
[code]

[2022-08-19 03:44] trowski commented on #335
Are you using the latest beta of `http-client`? I thought I squashed that in https://github.com/amphp/http-client/commit/9cae0bfc2b7af11d9cfea61c56fe2e83f8c5ceff. The `mprotect` failure is suspect though – perhaps you have too many fibers at once? I've not seen that error reported before myself.

[2022-08-19 08:42] bileslaw commented on #335
If this is a fix for that problem, then the fact is that I didn't have it. The last published release (5.0.0 Beta 3) happened earlier (Jun 17), and it was installed. Regarding the number of fibers or memory exhaustion, if one of these happened and it's not because of the absence of this fix, then the problem is still in the library, because I don't run into limits for sure.

[2022-08-19 12:55] trowski commented on #335
Sorry, I had looked at the date for the latest beta of this library, not `http-client`. 😊

For now please try `v5.x-dev` in composer for `http-client`. You'll need that for @kelunik's change as well.